


<div class="card bg-secondary shadow">
    <div class="card-body">

      <ng-template #emailTemplate>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Email This Speech</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="email">To: (Email)</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="eubject">Subject</label>
            <input type="text" class="form-control" value="Sharing my speech">
          </div>
          <div class="form-group">
            <label for="emailBody">Body</label>
            <textarea type="text" class="form-control" [(ngModel)]="mySpeech.text" rows="16"> </textarea>
          </div> 
          <button class="btn btn-outline-primary float-right">Send</button>
          <button class="btn float-right" (click)="modalRef.hide()">Cancel</button>
        </div>
      </ng-template>

      <ng-template #confirmDeleteTemplate> 
        <div class="modal-body text-center">
          <p>Are you sure you want to delete this speech?</p> 
          <button type="button" class="btn btn-primary" (click)="confirmDelete()" >Yes</button>
          <button type="button" class="btn btn-default" (click)="modalRef.hide()" >No</button>
        </div>
      </ng-template>


      <form #speechForm="ngForm" class="m-1 p-0">
        <div class="row px-3">
          <h6 class="heading-small text-muted">Add Speech</h6>
       </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">           
              <textarea rows="15" class="form-control form-control-alternative h-50" [class.is-invalid]="speechText.touched && speechText.invalid" 
              id="speech-text" #speechText="ngModel"  name="text" [(ngModel)]="mySpeech.text" required></textarea>
              <small class="text-danger" [class.d-none]="speechText.untouched || speechText.valid">Speech is required.</small>
            </div>
          </div>      
        </div>
  
        <div class="row">
          <div class="col-12">
            <div class="form-group">        
              <input type="text" id="speech-author" class="form-control form-control-alternative" name="speech-author" [(ngModel)]="mySpeech.author" required>         
              <small class="text-danger" [class.d-none]="speechText.untouched || speechText.valid">Author is required.</small>
            </div>
          </div>       
        </div>
  
        <div class="row">
          <div class="col-12">
            <div class="form-group">
            <div class="d-flex align-items-center small">
              <i class="fa fa-calendar text-muted position-absolute pl-3" (click)="dp.toggle()"></i>
              <input type="text" class="form-control py-4" #dp="bsDatepicker" bsDatepicker
              [bsConfig]="{ adaptivePosition: true, containerClass: 'theme-blue' }" name="speechDate" [(ngModel)]="mySpeech.date" style="padding-left: 38px;"/>
            </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-12">
            <div class="form-group">           
              <input id="input-address" class="form-control form-control-alternative" id="speech-keywords" name="keywords" [(ngModel)]="mySpeech.keywords"
                placeholder="Example: Victory, Success, Champion" type="text">
            </div>
          </div>
        </div>
  
        <div class="row" *ngIf="alerts">
          <div class="col-12">           
            <div *ngFor="let alert of alerts">
              <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
            </div>     
          </div>
        </div>
  
        <div class="row">
          <div class="col-12">
            <div class="d-flex flex-row justify-content-end"> 
              <button (click)="openModal(emailTemplate)" class="btn btn-primary p-2 m-2"><i class="fa fa-envelope-o" aria-hidden="true"></i> Share</button>
              <button (click)="openModal(confirmDeleteTemplate)"  type="submit" class="btn btn-danger p-2 m-2"> <i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>     
              <button (click)="onSubmit(speechForm.value)"  class="btn btn-success p-2 m-2 " [disabled]="speechText.invalid"> <i class="fa fa-floppy-o p-1" aria-hidden="true"></i> Save  </button>         
       
            </div>
          </div>
        </div>
  
      </form>




 
    </div>
  </div>