
<div class="header bg-gradient-danger pb-8 pt-3 pt-md-8 mb-3">
  <div class="container">
  </div>
</div>

<div class="container mt--8">
  <div class="card m-0 bg-secondary">
    
  
    <form #speechForm="ngForm" class="m-2 p-3">
      <div class="row px-3">
        <h6 class="heading-small text-muted mb-4">Add Speech</h6>
     </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">           
            <textarea type="text" rows="15" class="form-control form-control-alternative h-25" [class.is-invalid]="speechText.touched && speechText.invalid" 
          id="speech-text" #speechText="ngModel" name="text" placeholder="Speech" ngModel required></textarea>
          <small class="text-danger" [class.d-none]="speechText.untouched || speechText.valid">Speech is required.</small>
          </div>
        </div>      
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">        
            <input type="text" id="speech-author" class="form-control form-control-alternative" placeholder="Author" name="speech-author" [(ngModel)]="author" required>            
            <small class="text-danger" [class.d-none]="speechText.untouched || speechText.valid">Author is required.</small>
          </div>
        </div>       
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
          <div class="d-flex align-items-center small">
            <i class="fa fa-calendar text-muted position-absolute pl-3" (click)="dp.toggle()"></i>
            <input type="datetime" class="form-control py-4" #dp="bsDatepicker" bsDatepicker
            [bsConfig]="{ adaptivePosition: true, containerClass: 'theme-blue' }" name="speechDate" [(ngModel)]="today" style="padding-left: 38px;"/>
          </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">           
            <input type="text" id="input-address" class="form-control form-control-alternative" id="speech-keywords" name="keywords" ngModel
            placeholder="Keywords example: Victory, Success, Champion" >
          </div>
        </div>
      </div>

      <div class="row" *ngIf="alert">
        <div class="col-12">           
              <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert> 
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="d-flex flex-row justify-content-end">          
            <button  class="btn btn-primary" (click)="clearForm( speechForm, $event);" > Clear</button>
            <button  class="btn btn-success" (click)="onSubmit( speechForm);" [disabled]="speechText.invalid"> Add</button>
          </div>
        </div>
      </div>

    </form>
  </div>

</div>