
<div class="header bg-gradient-danger pb-8 pt-3 pt-md-8 mb-3">
    <div class="container-fluid d-block d-lg-none m-0 p-0">
      <div class="d-flex flex-row justify-content-end align-content-center mr-3 mb-3">
        <small class="text-white">More &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></small>      
     </div>
      <div class="d-flex flex-row no-wrap m-0 p-0 horizontal-scroll" *ngIf="speechList" >   
          <ng-container *ngFor="let speech of speechList;let i =index;"  >
            <app-speech-item class="col-10" [listIndex]=i [speechItem]="speech" (click)="setSelectedIndex(i)" [class.active]="selectedIndex == i"></app-speech-item>
          </ng-container>
      
      </div>
    </div>
</div>
 
  <div class="container-fluid mt--8">
    <div class="row">
      <div class="col-xl-4 d-none d-lg-block">
        <!--show only on lg and xl-->
        <div class="card bg-gradient-default shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-light ls-1 mb-1">Speeches</h6>
                <small class="text-white">Scroll for more &nbsp;<i class="fa fa-arrow-down" aria-hidden="true"></i></small> 
              </div>
            </div>
          </div>
          <div class="card-body mh-80 vertical-scroll">
            <!-- Speeches -->
            <ng-container *ngIf="speechList">
              <ng-container *ngFor="let speech of speechList;let i =index;" >              
                <app-speech-item [listIndex]=i [speechItem]="speech" [class.active]="selectedIndex == i"  (click)="setSelectedIndex(i)"></app-speech-item>
                <br/>
              </ng-container>
            </ng-container>
  
          </div>
        </div>
      </div>
  
      <div class="col-xl-8 mb-5 mb-xl-0 mh-80">
        <app-edit-speech *ngIf="selectedSpeech"  
        [mySpeech]=selectedSpeech
        (speechListChanged)="onEditSpeechResultChange($event)"
        >
      </app-edit-speech>  
      </div>
    </div>
  
  </div>