  /* SCROLLBAR */
  ::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
   
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;;
    border: 3px solid transparent;
    background-clip: content-box;   /* THIS IS IMPORTANT */
  
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent;
    border: 2px solid transparent;
    
  }
  
  .horizontal-scroll {
    overflow-x:scroll;
  }

  .vertical-scroll {
    overflow-y:scroll;
  }
  .mh-80 {
      max-height: 80vh;
  }
