
<div class="header bg-gradient-danger pb-8 pt-7 mb-3">

   <form class="container navbar-search navbar-search-dark">  
    <div class="input-group input-group-alternative">
      <div class="input-group-append">
        <span class="input-group-text"><i class="fas fa-search"></i></span>
      </div>
      <input class="form-control" placeholder="Search" name="searchText"  [(ngModel)]="searchText"  type="text">
    </div> 
  </form> 

</div>

<div class="container mt--8 mb-7">
      <br>
    <ng-container *ngIf="speechList">
      <div *ngFor="let speech of speechList | filter : searchText ;let i =index; " class="list-group list-group-flush">
    
          <app-speech-item *ngIf="speech"  [speechItem]="speech"  class="mb-3" >  
            <button type="button" class="btn btn-primary btn-sm float-right mr-3 mb-3"  routerLink="/view-all/{{speech.id}}">Edit</button>         
          </app-speech-item>   
      </div>
  
    </ng-container>
  </div>